div.img-hidden {
	height: 300px;
	overflow: hidden;
}

.container-m {
	margin-top: 100px;
	margin-bottom: 100px;
}

.footer {
	background-color: black;
	text-align: center;
	color: #fff;
}

h3 {
	margin-top: 50px;
}

.desc {
	font-size: 1.2rem;
	padding-left: 5px;
}

.done-list li {
	margin-top: 20px;
}

